@font-face {
    font-family: "Roboto Black Italic";
    src: url("/assets/fonts/Roboto-BlackItalic-webfont.woff");
}

@font-face {
    font-family: "Roboto Bold Condensed Italic";
    src: url("/assets/fonts/RobotoCondensed-BoldItalic-webfont.woff");
}

@font-face {
    font-family: "Roboto Bold Italic";
    src: url("/assets/fonts/Roboto-BoldItalic-webfont.woff");
}

html {
    position: relative;
    background: url("/assets/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

footer {
    display: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 800px;
    width: 100%;
    margin-top: 5em;
    padding: 0 1em;
    float: right;
    color: #fff;
}

.logo {
    padding: 0 1em;
    font-family: "Roboto Bold Italic", Arial, Helvetica, sans-serif;
    font-size: 3.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 20;
    position: relative;
    color: #fff;
}

.main-text {
    margin-top: 11em;
    font-size: 1.7em;
    text-transform: uppercase;
    z-index: 20;
    position: relative;
    text-align: right;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.3);;
    z-index: 10;
}

@media only screen and (max-width: 836px) {

    .logo {
        text-align: center;
        padding: 0;
    }

    .container {
        margin-top: 1em;
        padding: 0;
    }

    .main-text {
        margin-top: 1em;
        padding: 0 1em;
        text-align: center;
    }

    html {
        background-position: right;
    }

}

@media only screen and (max-width: 480px) {}