{% set activities = [
    [
        "2022",
        "Mentoring an online course on programming and decentralized technologies"
    ],
    [
        "2022",
        "Teaching a series of online lectures on blockchain and decentralized technologies"
    ],
    [
        "2020",
        "<em>Blockchain and Decentralized Technologies Vol. 3</em><br>Editor-in-Chief"
    ],
    [
        "2020",
        "Teaching a 9-week corporate educational course on blockchain"
    ],
    [
        "2019",
        "<em>Blockchain and Decentralized Technologies Vol. 2</em><br>Contributor"
    ]
] %}
