{% set certifications = [
    [
        "2023",
        "<em>Software AG</em><br>ARIS Business Process Analysis Platform"
    ],
    [
        "2023",
        "<em>William Stewart PhD, PMP, PPM (Udemy)</em><br>Deeply Practical Project Management"
    ],
    [
        "2022",
        "<em>Rice University (Coursera)</em><br>Finance for Non-Finance Professionals"
    ],
    [
        "2019",
        "<em>Johns Hopkins University (Coursera)</em><br>R Programming"
    ],
    [
        "2019",
        "<em>Johns Hopkins University (Coursera)</em><br>The Data Scientist's Toolbox"
    ]
] %}
