{% set certifications = [
    {
        "year": "2024",
        "institution": "The University of Helsinki",
        "title": "Deep Dive Into Modern Web Development",
        "credentialLink": "https://studies.cs.helsinki.fi/stats/api/certificate/fullstackopen/en/4f4c05136d76235787e3dba543629b70"
    },
    {
        "year": "2024",
        "institution": "freeCodeCamp",
        "title": "Responsive Web Design",
        "credentialLink": "https://www.freecodecamp.org/certification/alxwnth/responsive-web-design"
    },
    {
        "year": "2023",
        "institution": "Software AG",
        "title": "ARIS Business Process Analysis Platform"
    },
    {
        "year": "2023",
        "institution": "William Stewart PhD, PMP, PPM (Udemy)",
        "title": "Deeply Practical Project Management"
    },
    {
        "year": "2022",
        "institution": "Rice University (Coursera)",
        "title": "Finance for Non-Finance Professionals"
    },
    {
        "year": "2019",
        "institution": "Johns Hopkins University (Coursera)",
        "title": "R Programming"
    },
    {
        "year": "2019",
        "institution": "Johns Hopkins University (Coursera)",
        "title": "The Data Scientist's Toolbox"
    }
] %}
