{% set education = [
    [
        "2026",
        "<em>Research Center for Industrial Problems of Development, National Academy of Sciences of Ukraine</em><br>Ph.D. (Management)<br>Thesis: Managing Transformations in Higer Education of Ukraine in Industry 4.0 Environment"
    ],
    [
        "2024",
        "<em>Vidzeme University of Applied Sciences</em><br>MS (Business Environment Administration)<br>Thesis: Application of Machine Learning Algorithms for Effort Estimation in Project, Innovation, and Organizational Management"
    ],
    [
        "2022",
        "<em>V. N. Karazin Kharkiv National University</em><br>M.S. (Cybersecurity)<br>Thesis: Using Schnorr Signatures to Provide a Secure Communication Channel in a Decentralized Environment"
    ],
    [
        "2020",
        "<em>V. N. Karazin Kharkiv National University</em><br>B.S. (Cybersecurity)"
    ]
] %}
