{% set navLinks = [
    {
        "title": "cv",
        "link": "/cv",
        "isContact": false,
        "external": false
    },
    {
        "title": "thoughts",
        "link": "/thoughts",
        "isContact": false,
        "external": false
    },
    {
        "title": "projects",
        "link": "/projects",
        "isContact": false,
        "external": false
    }
] %}
