{% set workExperience = [
    [
        "Jun 2023 - Jul 2024",
        "<em>Kelp.Digital</em><br>Business Development Manager"
    ],
    [
        "May 2020 - Feb 2023",
        "<em>Distributed Lab</em><br>Engineering & Project Manager"
    ],
    [
        "Jun 2019 - May 2020",
        "<em>Distributed Lab</em><br>Research & Business Development Manager"
    ],
    [
        "Jun 2018 - Aug 2018",
        "<em>LET'S VERIFY</em><br>Lead Verification Specialist"
    ]
] %}
