---
layout: layouts/content.njk
title: curriculum vitæ
---

{% from 'macros/unwrap_table.njk' import unwrapTable %}
{% from 'data/cvContact.njk' import cvContact %}
{% from 'data/education.njk' import education %}
{% from 'data/workExperience.njk' import workExperience %}
{% from 'data/activities.njk' import activities %}
{% from 'data/certifications.njk' import certifications %}
<time>
    <p>Updated June 3, 2024.</p>
</time>
<section>
    <h2>Contact information</h2>
    {{ unwrapTable(cvContact, unwrapIntoRows) }}
</section>
<section>
    <h2>Education</h2>
    {{ unwrapTable(education, unwrapIntoRows) }}
</section>
<section>
    <h2>Employment</h2>
    {{ unwrapTable(workExperience) }}
</section>
<section>
    <h2>Other activities</h2>
    {{ unwrapTable(activities) }}
</section>
<section>
    <h2>Courses & Certifications</h2>
    <table class="cv-table">
        <colgroup>
            <col class="cv-table-spec"></col>
            <col class="cv-table-content"></col>
        </colgroup>
        <tbody>
            {% for cert in certifications %}
                <tr>
                    <td>{{ cert.year }}</td>
                    <td>
                        <em>{{ cert.institution }}</em><br/>{{ cert.title }}
                        {% if cert.credentialLink %}
                            (<a href="{{ cert.credentialLink }}" target="blank">Credential link</a>)
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>