---
layout: layouts/default.njk
title: home
---

{% from 'macros/unwrap_links.njk' import unwrapLinks %}
{% from 'data/navLinks.njk' import navLinks %}
{% from 'data/contact.njk' import contactLinks %}
<article>
    <header class="card about-block">
        <h1>alex@home:~$</h1>
        {# <div class="vertical-stack">{{ unwrapLinks(projects) }}</div> #}
        <nav>
            <div class="vertical-stack">{{ unwrapLinks(navLinks) }}</div>
        </nav>
        <div class="horizontal-stack">{{ unwrapLinks(contactLinks) }}</div>
    </header>
</article>
