---
layout: layouts/default.njk
---

{% from 'macros/unwrap_links.njk' import unwrapLinks %}
{% from 'projects.njk' import projects %}
{% from 'contact.njk' import contactLinks %}
<div class="about-block">
    <h1>alex@home:~$</h1>
    <div class="projects">
        {{ unwrapLinks(projects) }}
    </div>
    <div class="contact">
        {{ unwrapLinks(contactLinks, true) }}
    </div>
</div>