{% set contactLinks = [
    {title: "email", link: "mailto:alxwnth@posteo.me"},
    {title: "mastodon", link: "https://mstdn.social/@alxwnth"},
    {title: "github", link: "https://github.com/alxwnth"}
] %}