{% set projects = [
    {title: "friends!forever", link: "https://github.com/alxwnth/friendsforever"},
    {title: "pass2heaven", link: "https://github.com/Pass2Heaven"},
    {title: "kaido", link: "https://github.com/alxwnth/kaido"}
] %}