@font-face {
  font-family: "Courier";
  src: url("CourierNew.ttf") format("truetype");
}

* {
  font-family: serif;
}

h1 {
  margin-top: 0;
  overflow-wrap: anywhere;
  font-size: 32px;
}

pre {
  position: fixed;
  font-family: "Courier New", Courier, monospace;
  top: -50px;
  left: -140px;
  font-size: 9px;
  z-index: -1;
  line-height: 1.1;
  letter-spacing: -0.3pt;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about-block {
  background-color: #fff;
  max-width: 32rem;
  padding: 20px 0 20px 30px;
  border: 1px solid black;
}

.projects {
  margin-bottom: 20px;
}

.projects a {
  display: block;
  width: fit-content;
}

.contact a:not(:last-of-type) {
  margin-right: 6px;
}

@media screen and (max-width: 1400px) {
  pre {
    left: -540px;
  }
}

@media screen and (max-width: 1300px) {
  pre {
    left: -640px;
  }
}

@media screen and (max-width: 900px) {
  pre {
    left: -740px;
  }
}

@media screen and (max-width: 800px) {
  pre {
    left: -860px;
  }
}

@media screen and (max-width: 600px) {
  pre {
    top: 150px;
    left: -640px;
    font-size: 7px;
    letter-spacing: -0.4pt;
  }
}

@media screen and (max-width: 400px) {
  pre {
    left: -700px;
  }
}

@media screen and (max-width: 300px) {
  pre {
    font-size: 6px;
    left: -560px;
    letter-spacing: -0.5pt;
  }
}
