@font-face {
  font-family: "Courier";
  src: url("CourierNew.ttf") format("truetype");
}

* {
  font-family: serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-wrap: anywhere;
  font-size: 32px;
}

pre {
  position: fixed;
  font-family: "Courier New", Courier, monospace;
  top: -50px;
  left: -140px;
  font-size: 9px;
  z-index: -1;
  line-height: 1.1;
  letter-spacing: -0.3pt;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table td,
table td * {
  vertical-align: baseline;
}

td {
  padding-bottom: 10px;
}

table {
  width: 100%;
}

img {
  height: auto;
  width: 100%;
  /* width: 115%; */
  /* max-width: 775px; */
  outline: 1px solid black;
}

.cv-table-spec {
  width: 17ex;
}

.card {
  background-color: #fff;
  border: 1px solid black;
}

.padded {
  padding: 2rem;
}

.content {
  width: 80%;
  max-width: 675px;
}

.about-block {
  max-width: 32rem;
  padding: 20px 0 20px 30px;
}

.vertical-stack {
  margin-bottom: 20px;
}

.vertical-stack a {
  display: block;
  width: fit-content;
}

.horizontal-stack a:not(:last-of-type) {
  margin-right: 6px;
}

@media screen and (max-width: 1400px) {
  pre {
    left: -540px;
  }
}

@media screen and (max-width: 1300px) {
  pre {
    left: -640px;
  }
}

@media screen and (max-width: 900px) {
  pre {
    left: -740px;
  }
}

@media screen and (max-width: 800px) {
  pre {
    left: -860px;
  }
}

@media screen and (max-width: 600px) {
  pre {
    top: 150px;
    left: -640px;
    font-size: 7px;
    letter-spacing: -0.4pt;
  }
}

@media screen and (max-width: 400px) {
  pre {
    left: -700px;
  }
}

@media screen and (max-width: 300px) {
  pre {
    font-size: 6px;
    left: -560px;
    letter-spacing: -0.5pt;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .about-block {
    background-color: #222428;
    color: #717e8b;
  }
  a {
    color: #717e8b;
  }
  .about-block {
    border-color: #717e8b;
  }
}
