<!doctype html>
<html lang="en">
    <head>
        <title>alxwnth | {{ title }}</title>
        {% set css %}
        {% include "style.css" %}
        {% endset %} <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hello, this is my personal website.">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
        <style>
            {{css | cssmin | safe}}</style>
    </head>
    {# TODO: Match semantic HTML everywhere #}
    <body>
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock content %}
            {% include "waves.njk" %}
        </main>
    </body>
</html>